html,
body {
	margin: 0;
	color: black;
	background: white;
	font-family: sans-serif;
}


li,
a,
p,
ul {
	list-style: none;
	color: black;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

/*LANDING PAGE========================================*/
body > p {
	display: none;
}

/*PROJECTS*/
.front-page .panel-grid {
	width: 100%;
	margin: 0 !important;
}
.front-page .category-uncategorized .panel-grid .panel-grid-cell {
	padding: 0 !important;
	margin: 0 !important;
}

.front-page .textwidget {
	text-align: center;
	padding: 90px;
}

.front-page .textwidget .column{
	font-family: initial;
	font-size: 3vw;
}

/*PROCESS*/

.process {
	background: lightgrey;
}

.process .textwidget {
	text-align: left;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.process .text-box {
	width: 20%;
	min-width: 205px;
}

.process .arrow {
	height: 20px;
	width: auto;
	position: relative;
	bottom: 27px;
	left: 90px;
}

.process .main-image {
	height: 58vw;
	width: auto;
}

/*OFFERINGS*/

.offerings {
	background: lightgrey;
}

.offerings .textwidget {
	text-align: left;
}

.offerings img {
	width: 100%;
	height: auto;
}

/*TEAM*/
.category-padded-outer {
	padding-bottom: 90px;
}

.category-padded-outer .panel-grid:nth-child(2) {
	padding-left: 90px;
	padding-right: 90px;
}

.category-padded-outer .panel-grid:nth-child(1) .panel-grid-cell {
	text-align: left;
}

.padded-outer-text .textwidget {
	text-align: left;
  padding-bottom: 50px;
}

.padded-outer-text .textwidget h2 {
	display: inline-block;
	margin: 0;
}
.padded-outer-text .textwidget h4{
	display: inline-block;
	float: right;
}

/*HEADER=================================*/

header {
	background: black;
	height: 71px;
	position: fixed;
	top: 0;
	transition: top 0.2s ease-in-out;
	width: 100%;
	z-index: 1000;
}

.logged-in header.nav-down {
	top: 31px;
}

.header-holder {
	height: 70px;
}

header a {
	display: inline-block;
	height: 60px;
}

#header_image {
	margin: 10px;
	height: 40px;
	width: auto;
}

header.nav-up {
  top: -71px;
}


/*HAMBURGER MENU*/

.menu-btn {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 30px;
	/*color: #5F6F81;*/
	text-decoration: none;
	cursor: pointer;
	margin: 1px 5px 0;
	outline: 0;
	float: right;
	padding: 20px;
}

.icon-bar {
	background: white;
	display: block;
	width: 30px;
	height: 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 5px;
}


#close-x {
	height: 20px;
	width: 20px;

	cursor: pointer;
	margin: 1px 5px 0;
	float: right;
	margin: 23px 26px;
	display: none;
}

/*PAGE NAVIGATION*/
.logged-in #menu-mainmenu {
	top: 101px;
}

#menu-mainmenu {
	top: 71px;
	position: fixed;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.8);
	display: none;
	text-align: right;
	z-index: 1000;
	padding-top: 40px;
	opacity: 0;
}

#menu-mainmenu li {
	width: 100%;
  padding-right: 25px;
	font-size: 38px
}

.menu-item a {
	color: white;
	text-decoration: none;
}

.menu-item a:hover {
	color: red;
}


/*FOOTER=================================*/
footer {
	background: black;
  display: flex;
}
footer #footer-contact-info {
	margin: 30px 60px;
}
footer p {
	color: white;
}


/*INDIVIDUAL PAGES==========================================*/
.panel-grid {
	/*width: 80%;*/
	/*margin: 30px auto !important;*/
}

.above-title-text {
  font-size: 24px;
	text-align: center;
}

.widget-title {
	font-size: 36px;
	text-align: center;
	/*font-family: initial;*/

}
.above-arrow-text {
	font-size: 28px;
	text-align: center;
	color: white;
	font-family: roboto;
	font-weight: 500;
}

.down-arrow {
	position: relative;
	top: -5px;
}
/*ABOUT==================================*/

.page-small .above-title-text {
	justify-content: center;
  background-color: rgba(66,66,66,1);
  height: 300px;
  display: flex;
  align-items: center;
}

.page-small .above-title-text .textwidget {
  font-size: 34px;
  font-family: initial;
  color: white;
}

.page-small .widget-title {
	color: black;

}


/*CLIENTS==================================*/
.client-image {
	margin: 20px;
	border: 1px solid black;
	overflow: hidden;
	border-radius: 50%;
}

/*TEAM==================================*/
.backdrop-large {
	height: 500px;
}

.backdrop {
	background: rgba(66,66,66,1);
	width: 100%;
	position: absolute;
	z-index: 1;
}

.page {
	position: relative;
	z-index: 2;
}

.page-large .widget-title {
	color: white;
}

.page-large .widget_sow-image {
	margin-bottom: 10px !important;
}
.page-large .widget_sow-editor {
	margin-bottom: 0px !important;
}

.team-caption {
	top: -100px;
	left: 20px;
	position: relative;
	color: white;
	height: 0;
}

.team-caption h2 {
	margin: 0;
}

/*CASE STUDIES==================================*/
.no-effect {
	visibility: visible !important;
}

.case-studies-image {
	border: 1px solid black;
}

.case-studies-caption {
	text-align: center;
	top: -200px;
	position: relative;
	color: white;
	height: 0;
}

.sow-image-container img {
	display: inline-block;
  width: 100%;
  height: auto;
}

/*TEAM INDIVIDUAL*/
.team-individual .textwidget {
	display: flex;
	flex-wrap: wrap;
}

.team-individual .textwidget p {
	width: 34vw;
	margin-right: 50px;
	min-width: 300px;
}

.team-individual .textwidget p {
	width: 34vw;
	margin-right: 50px;
	min-width: 300px;
}

.team-individual .textwidget p img {
	width: 100%;
	height: auto;
}

.team-individual .textwidget .team-individual-text {
	width: 34vw;
	float: left;
	position: relative;
	min-width: 300px;
}

/*CASE STUDY INDIVIDUAL*/
.case-study-individual-head h2 {
	text-align: center;
	font-family: Roboto;
	font-size: 56px;
	margin-bottom: 30px;
}
